body {
	background-color: black;
}

.main {
	background-color: white;
	height: 500px;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 100px;
}

.ryu {
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	height: 494px;
	width: 659px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url("../images/hadouken.gif");
	height: 90px;
	width: 156px;
	float: left;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
}
.instructions {
	height: 500px;
	width: 700px;
	position: absolute;
	left: 670px;
	font-size: 28px;
	line-height: 150%;
	font-family: cursive;
	text-transform: uppercase;
}

.click-instruction {
	width: 315px;
	margin-top: 75px;
}

.x-instruction {
	width: 310px;
	margin-top: 80px;
	margin-left: 270px;
}